extends layout 

block content 
    main
        h1.page-header Coder Notes
        #login-grid 
            form.login-grid__column(action='' method='post')
                h2 Log In
                label(for='username') Username:
                input.form__input(type='text' name='username' required)
                label(for='password') Password:
                input.form__input(type='password' name='password' required)
                button.login__button(type='submit') Log In
            form.login-grid__column(action='/signup' method='post')
                h2 Sign Up
                label(for='username') Username:
                input.form__input(type='text' name='username' required)
                label(for='password') Password:
                input.form__input(type='password' name='password' required)
                button.login__button(type='submit') Sign Up